
.heading-group {
  display:flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
}
.header-logo {
  max-width: 100%;
}

h1   {
  text-align: center;
}

.project-container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
}

.project-summary {
  padding: 5em;
}
.image-container {
  border: solid black;
  border-radius: 10px;
}
